* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 10px;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none;
}

a{
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  border: none;
  width: 78px;
  height: 42px;
  border-radius: 20px;
}